{% extends "model-page.html" %}
{% load static %}

{% block header %}

    <title>Agenda</title>
    <link rel="stylesheet" href="{% static 'new_agenda/css/logout-button.css' %}"/>
    
{% endblock %}

{% block content %}
    
    <a class="logoutbutton" href="/logout" style="float: right; color: white;">Sair</a>

    <div class="btn-group mb-5" role="group">
        <a href="evento/" type="button" style="width: 200px" class="btn btn-dark">Novo Evento
            <!-- <button type="button" style="width: 150px" class="btn btn-dark">Novo Evento</button> -->
        </a>
        <a href="historico/" type="button" style="width: 200px" class="btn btn-dark">Histórico de Evento
            <!-- <button type="button" style="width: 150px" class="btn btn-dark">Histórico</button> -->
        </a>
    </div>

    <h2>Agendamentos</h2>

    <ul style="font-size: 18px">
        {% for evento in eventos %}
            <li>
                <div style=
                             {% if evento.get_evento_atrasado %}
                                "color:red"
                             {% elif evento.get_evento_30min %}
                                "color:yellow"
                             {% endif %}>

                    {{  evento.titulo }} - {{ evento.get_data_evento }} - {{ evento.local }}
                    [
                        <a href="evento/? id={{ evento.id }}">Editar</a> /
                        <a href="evento/delete/{{ evento.id }}/">Excluir</a>
                    ]

                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}