{% extends "model-page.html" %}
{% load static %}

{% block header %}

    <title>Login</title>
    <link rel="stylesheet" href="{% static 'new_agenda/css/login.css' %}"/>

{% endblock %}

{% block content %}
    <!-- <h1>Login</h1> --> 
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

            <form action="submit" method="POST">{% csrf_token %} <!--sempre que for um form de requisicao POST é necessário gerar esse token de segurança do certificado csrf;-->

                <input type="text" id="login" class="fadeIn second" name="username" placeholder="Usuário">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Senha">
                <!-- <button type="submit" class="fadeIn fourth">Entrar</button> -->
                <input type="submit" class="fadeIn fourth" value="Entrar">   
                    
            </form>

            {% for message in messages %}
                <div align="center">
                    <strong>ERRO! </strong>{{ message }}
                </div>
            {% endfor %}

            <div id="formFooter">
                <a class="underlineHover" href="#">Esqueceu sua senha?</a>
            </div>
          
        </div>
    </div>

{% endblock %}
